<!DOCTYPE html>
<html>
    <head>
        <title>About The Film Store</title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>About The Film Store</h1>
        <p>We sell films ! Browse The Film Store to find movies.</p>
        <p><a href="/ ">Go back to homepage</a></p>
    </body>
</html>