<!DOCTYPE html>
<html>
    <head>
        <title>Add a film</title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>Add film:</h1>
        <form method="POST" action="/filmadded">
            <p>Film name: <input id="name" type="text" name="name" value="" /></p>
            <p>Price: <input id="price" type="text" name="price" value="" /></p>
            <input type="submit" value="Add Film" />
        </form>
        <p><a href="/ ">Go back to homepage</a></p>
    </body>
</html>