<!doctype html>
<html>
    <head>
        <title>The Film Shop</title>
        <link rel="stylesheet" type="text/css" href="/main.css"/>
    </head>
    <body>
        <h1>Welcome to The Film Shop !</h1>
        <h2>Visit other pages below:</h2>
        <p><a href="about">About film shop</a></p>
        <p><a href="user/register">Register</a></p>
        <p><a href="data/search">Search for films</a></p>
        <p><a href="data/list">List of films</a></p>
        <p><a href="data/add">Add a new film</a></p>
        <p><a href="data/reviewapi">Visit API</a></p>
        <p><a href="user/login">Login</a></p>
        <p><a href="user/listusers">See users</a></p>
    </body>
</html>