<!DOCTYPE html>
<html>
    <head>
        <title>List of our users</title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>All users</h1>
        <p>A list of our site's users:</p>
        <ul>
            <% availableLogin.forEach(function(login) { %>
              <li><%= login.username %>, id:<%=login.id%> </li>
            <% }) %>
          </ul>
        <p><a href="/ ">Go back to homepage</a></p>
    </body>
</html>