<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>Login</h1>
        <p>Login in below:</p>
        <form method="POST" action="./login">
            <p>Username: <input id="username" type="text" name="username"></p>
            <p>Password: <input id="password" type="text" name="password"></p>
            <input type="submit" value="Login" />
        </form>
        <p><a href="/ ">Go back to homepage</a></p>
    </body>
</html>