<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>Search</h1>
        <p>Search for films:</p>
        <form action="search_result" method="GET">
            <p>What film are you looking for?</p>
            <input id="search_box" type="text" name="search_text">
            <input type="submit" value="Search" >
        </form>
        <p><a href="/ ">Go back to homepage</a></p>
    </body>
</html>